* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: #1a1a1a;
    color: #fff;
}

.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px 0;
    /* margin-top: 1rem; */
    /* background:#091f2c; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: sticky;
    top: 0;
    background-color: #1a1a1a;
}

.nav-main>p {
    font-size: 1.9rem;
    text-indent: 2px;
    font-weight: 800;
    color: yellow;
}

.nav-main>ul>a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 2rem;
    cursor: pointer;
    background: none;
}

.nav-main>ul>a:hover {
    color: rgb(7, 226, 7);
}

@media (max-width:800px) {
    .nav-main {
        justify-content: space-evenly;
        padding: 6px 0;
        /* margin-top: 1rem; */
    }

    .nav-main>p {
        font-size: 1.6rem;
        text-indent: 2px;
        font-weight: 800;
    }

    .nav-main>ul>a {
        font-size: 1.4rem;
        font-weight: 600;
        padding-left: 2rem;
        background: none;
    }
}

@media (max-width:480px) {
    .nav-main {
        padding: 6px 0;
        /* margin-top: 1rem; */
    }

    .nav-main>p {
        font-size: 18px;
        font-weight: 800;
    }

    .nav-main>ul>a {
        font-size: 12px;
        font-weight: 400;
    }
}

/* ________________________________________*/
#main-name {
    padding: 5rem;
    background: #091f2c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;

}

.tex1 {
    font-size: 3rem;
    font-weight: 700;
}

.tex2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.tex3 {
    font-size: 2rem;
    font-weight: 600;
}

.tex4 {
    font-size: 2rem;
    font-weight: 500;
    color: #3498db;
}
.tex-clo{
    color: #e74c3c;
}
.tex5 {
    font-size: 1.1rem;
    word-spacing: 5px;
    font-weight: lighter;
    margin-top: 2%;
}

.image-pht {
    border: solid #033d5f70 2px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* margin-top: 11vh; */
    padding: 2px;

}
.resume-btn{
    font-size: 2rem;
    background-color: #2596be;
    color: #fff;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 5%;
    border: none;
}
.resume-btn:hover{
    text-decoration: underline;
}
@media (max-width:480px) {
  #main-name{
    width: 100%;height: 100%;
    flex-wrap: wrap;
    padding: 1.6rem;
  }
  .main-1{
    margin-top: 5px;
  }
  .tex1 {
    font-size: 25px;
    font-weight: 700;
}

.tex2 {
    font-size: 23px;
    font-weight: 800;
}

.tex3 {
    font-size: 25px;
    font-weight: 600;
}

.tex4 {
    font-size: 18px;
    font-weight: 00;
    color: #3498db;
    margin-top: 1%;
}
.tex-clo{
    color: #e74c3c;
}
.tex5 {
    font-size: 15.5px;
    word-spacing: 2px;
    font-weight: lighter;
    margin-top: 2%;
    width: 100%;
}

.image-pht {
    border: solid #033d5f70 2px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* margin-top: 11vh; */
    padding: 2px;
    height: 250px; width: 200px;
    margin-top: 25px;
    margin-bottom: 15px;

}
.resume-btn{
    font-size: 16px;
    margin-left: 100px;
}
}
/*------------------------------------------------------*/
.sk-mi{
    background-color:#091f2c;
    margin-top: 2%;
    padding: 2rem;
    height: 100%; width: 100%;
    display: flex;
    flex-direction: column;
}
.skill-name{
    font-size: 3rem;
    font-weight: 700;
}
.skill-intro{
    font-size: 25px;
    font-weight: lighter;
}
#skills{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1.5%;
}
.fr-1{
    height: 300px; width: 250px;
    background-color: #091f2c;
    border-radius: 5px;
    border: solid 1px ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    gap: 20px;
    font-weight: lighter;

}
.fr-1:hover{
    transform: translateY(-10px);
    /* box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2); */
    background-color: #3333334e;
}
.fff{
    color: #2596be;
    font-size: 1.5rem;
}
.ddd{
    color: #2596be;
    font-size: 1.5rem;
}
.uuu{
    color: #2596be;
    font-size: 1.5rem;
}
@media (max-width:480px) {
.skill-name{
    font-size: 25px;
    font-weight: 700;
}
.skill-intro{
    font-size: 15px;
    font-weight: lighter;
    margin-top: 1%;
}
#skills{
    gap: 15px;
    margin-top: 2%;
}
.fr-1{
    height: 240px; width: 200px;
}
.fr-1:hover{
    transform: translateY(-10px);
    background-color: #3333334e;
}
.fff{
    color: #2596be;
    font-size: 1.5rem;
}
.ddd{
    color: #2596be;
    font-size: 1.5rem;
}
.uuu{
    color: #2596be;
    font-size: 1.5rem;
}
}
