* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: #1a1a1a;
    color: #fff;
}

.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px 0;
    /* margin-top: 1rem; */
    /* background:#091f2c; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nav-main>p {
    font-size: 1.9rem;
    text-indent: 2px;
    font-weight: 800;
    color: yellow;
}

.nav-main>ul>a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 2rem;
    cursor: pointer;
}

.nav-main>ul>a:hover {
    color: rgb(7, 226, 7);
}

@media (max-width:800px) {
    .nav-main {
        justify-content: space-evenly;
        padding: 6px 0;
        /* margin-top: 1rem; */
    }

    .nav-main>p {
        font-size: 1.6rem;
        text-indent: 2px;
        font-weight: 800;
    }

    .nav-main>ul>a {
        font-size: 1.4rem;
        font-weight: 600;
        padding-left: 2rem;
    }
}

@media (max-width:480px) {
    .nav-main {
        padding: 6px 0;
        /* margin-top: 1rem; */
    }

    .nav-main>p {
        font-size: 18px;
        font-weight: 800;
    }

    .nav-main>ul>a {
        font-size: 12px;
        font-weight: 400;
    }
}

/* ________________________________________*/
#main-name {
    padding: 5rem;
    background: #091f2c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;

}

.main-1 {
    /* margin-top: 5vh; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center; */

}

.tex1 {
    font-size: 3rem;
    font-weight: 700;
}

.tex2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.tex3 {
    font-size: 2rem;
    font-weight: 600;
}

.tex4 {
    font-size: 2rem;
    font-weight: 500;
    color: #3498db;
}
.tex-clo{
    color: #e74c3c;
}
.tex5 {
    font-size: 1.1rem;
    word-spacing: 5px;
    font-weight: lighter;
    margin-top: 2%;
}

.image-pht {
    border: solid #033d5f70 2px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* margin-top: 11vh; */
    padding: 2px;

}
.resume-btn{
    font-size: 2rem;
    font-weight: lighter;
    background: none;
    text-decoration: none;
    margin-top: 3%;
}
.resume-btn:hover{
    text-decoration: underline;
}
@media (max-width:480px) {
  #main-name{
    width: 100%;height: 100%;
    flex-wrap: wrap;
    padding: 1rem;
  }
  
}